.cartoon{
    flex-wrap: wrap;
}

.heading{
    text-align: center;
    color: rgb(195, 230, 40);
    font-size: 50px;
}
.c1 {margin-top: 6%;
    float: right;
}
.c2{
    float:left;
    margin-top:4%;
}

.f1{margin-top:25%;
    float: left;
    color: rgb(7, 7, 7);
    background-color: cadetblue;
    width: 80px;
    height: 30px;
}
.f2{margin-top:25%;
    float: right;
    color: rgb(7, 7, 7);
    background-color: cadetblue;
    width: 80px;
    height: 30px;
}


#h1{margin-left: 40%;
    color: rgb(247, 101, 101);

}

#h2{margin-left: 40%;
    color: rgb(247, 101, 101);
}
#h3{
    margin-left: 40%;
    color:green
}

#container {
    position: relative;
    background: purple;
    width: 400px;
    height: 400px;
  }
  
  #box {
    position: absolute;
    background: red;
    width: 30px;
    height: 30px;
    bottom: 0px;
  }

  #s1{
      margin-left: 40%;
  }

  #option{
      margin-left: 36%;
      font-size: 30px;
      font-style: italic;
      color: rgb(156, 87, 117);
  }
  #newstart{
      background-color: rgb(110, 39, 39);
      color: white;
      width: 100px;
  }